@charset "EUC-KR";

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body{
	font-family: "Cafe24Ssurround";
}

/* #city-introduce li  {
  text-align: left;
  margin-bottom : 20px;
  font-size : 18px;
  color : #2f3640;
} */

#text1{
  margin-top : 70px;
  margin-bottom : 50px;
  font-size : 24px;
  text-align: center;
  color : #60a3bc;
}
#text2{
  margin : 0;
  margin-top : 30px;
  margin-bottom : 20px;
  font-size : 32px;
  text-align: center;
  color : #3c6382;
}
#city-introduce li{
  margin : 0px;
  font-size : 18px;
  margin-bottom : 80px;
  text-align: center;
  color : #2f3640;
}
#resultImage{
  max-width : 100%;
  max-height: 320px;
}
#resultWrapper{
  margin-top : 70px;
  width : 100%;
  margin-bottom : 70px;
  text-align: center;
}
.results{
  /* //position : relative;
  //display:inline-block; */
  width : 60%;
  margin:auto;
  /* //height : 200px;
  //max-height : 200px; */
  text-align: center;
  margin-bottom : 40px;

}
.harmony img{
  margin-top : 10px;
  max-width : 100%;
  max-height:200px;
}
.harmony p{
  margin : 0;
  font-size : 20px;
}
.results{
  font-size: 24px;
  color : #079992;
}
#corona{
  color : #38ada9;
}
#place, #restaurant, #domitory{
  color : #78e08f;
}

#startText,#copyText{
color :#2f3640;
  text-align: center;
  margin : 0;
  margin-bottom : 10px;
  font-size : 20px;
}

#startButton2,#copyButton{
  display:block;
  width : 30%;
  margin : auto;
    margin-bottom : 50px;
  font-size : 24px;
  height : 65px;
  font-family: "Cafe24Ssurround";
  background-color: white;
  /* border-color : #EDBB99; */
  border-radius: 15px;
  border: 0;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
  /* border-width: 5px; */
  color :#2f3640;
}

#startButton1{
  display:block;
  width : 27%;
  margin : auto;
    margin-bottom : 50px;
  font-size : 22px;
  height : 63px;
  font-family: "Cafe24Ssurround";
  background-color: white;
  /* border-color : #EDBB99; */
  border-radius: 15px;
  border: 0;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
  /* border-width: 5px; */
  color :#2f3640;
}
#filler{
  height : 200px;

}
/* .scrollAnim {
  opacity : 0;
  transition : all 1s ease;
  -webkit-transition : all 1s ease;
}
 */
#dev{
  margin-top : 60px;
  color : #CCD1D1;
  font-size : 14px;
  text-align: center;
}
